@import './libs/_functions.scss';
@import './libs/_mixins.scss';
@import './libs/_vars.scss';

.inline {
	display: inline-block;
	@for $var from 1 to 100 {
		&.input-#{$var} {
			width: $var * 10#{"%"}
		}
	}
}
